$gray-000: #ffffff;
$gray-100: #fcfcfc;
$gray-200: #f9f9f9;
$gray-300: #eeeeee;
$gray-400: #e7e7ea;
$gray-500: #c9c9c9;
$gray-700: #8e8e8e;
$gray-800: #636363;
$gray-900: #1a1a1a;

$primary-300: #4e62d1;
$primary-400: #4659c4;
$primary-500: #3f51b5;
$primary-600: #3747a1;

$red-300: #ff8181;
$red-400: #f36363;
$red-500: #f14a4a;
$red-600: #db3a3a;
